@using Vidly.Models
@model LoginViewModel
@{
    ViewBag.Title = "Secciones Usuario";
}

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("New Rental", "New", "Rentals")</li>
    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
    <li>@Html.ActionLink("Movies", "Index", "Movies")</li>
</ul>
