<appSettings>
  <add key="FacebookAppId" value="322444432704607"/>
  <add key="FacebookAppSecret" value="f9e105bbc9186bd4e6f83a7c242a88cc"/>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
